<a href="https://colab.research.google.com/github/saurabh305jh/Python/blob/master/Python%20Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
#Initializing the variable init_0 
init_0=[]
#Variables assignment 
numb_1=7
numb_2=5
#Logic starts below 
for var in range(2000,3200):
    if(var%numb_1==0) and (var%numb_2==0):
        init_0.append(str(var))
print(','.join(init_0))

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

2. Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [ ]:
#Variable input prompt 
var1 = input("Please enter your first name")
var2 = input("Please enter your last name")
var3 = var2+' '+var1
#Final result print in reverse order
print (var3)

Please enter your first name Saurabh
Please enter your last name Tripathi
 Tripathi  Saurabh

3. Write a Python program to find the volume of a sphere with diameter 12 cm. 
Formula: V=4/3 * Ï€ * r 3

In [ ]:
#Diameter given = 12cm
#Note to get the radius , diameter/2 

#Variable assignment below
pi=3.14
radius = 12/2
#Volumme calculation
volume = 4/3*pi*radius**3
#Final result 
print(volume)

904.3199999999999